{% extends "layout.html" %}

{% block title %}
    Password change
{% endblock %}

{% block main %}
    <p>Hello {{ session["username"] }}! Change your password here: </p>
    <form action="/change_password" method="post">
        <div class="form-group">
            <input class="form-control" name="password" placeholder="New password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password again" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
